<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is a top page</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
<h1>BOUNCING BALLS</h1>

<a id="btn_go_about" href ="/about">
  <button class="btn-go-about" id="btn-go-about">ABOUT</button>
</a></br>

<a id="btn_go_image" href ="/image">
    <button class="btn-go-image" id="btn-go-image">IMAGES</button>
</a></br>

<a id="btn_go_code" href ="/code">
<button class="btn-go-code" id="btn-go-code">CODE</button>
</a>

<a id="btn_go_link" href ="https://github.com/Adam0Schulz/BouncingBalls">
    <button class="btn-go-link" id="btn-go-link">LINK</button>
</a>

<!--<form action="description">
<input type="submit" value="DESCRIPTION">
</form>
<form action="image">
<input type="submit" value="IMAGES">
</form>
<form action="code">
<input type="submit" value="CODE">
</form>-->



  </body>
  </html>